.common() {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.picker{
  height: 100%;
  &-mask{
    .common();
    background-color: rgba(0,0,0,.4);
    height: 100%;
    transition: all .2s ease-in-out;
  }
  &-wrap{
    .common();
    &-content{
      box-sizing: border-box;
      position: fixed;
      padding: 16px;
      background-color: #fff;
      animation-timing-function: ease-in-out;
      animation-duration: 200ms;
    }
  }
}

@keyframes slideInTop {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0);
  }
}