.scroll-loading{
  position: relative;
  overflow: auto;
  height: 100%;
  background-color: #D8D8D8;
  &-refresh{
    position: absolute;
    top: 0;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--label-font-color);
    &-loading{
      margin-right: 4px;
      animation-name: loopSpin;
      animation-iteration-count: infinite;
      animation-duration: 3000ms;
      animation-timing-function: linear;
    }
  }
  &-list{
    height: 100%;
    overflow: auto;
    &-loading{
      padding: 16px;
      text-align: center;
      color: var(--label-font-color);
    }
  }
}

@keyframes loopSpin {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}